<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
</head>

<body>
  <div class="">
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="half column">
          <section class="mtm">

            {% block breadcrumb %}{% endblock %}

            <div class="tac center mtxxl">
              <form>
                {% block page_prompt %}{% endblock %}
                <div class="row mtm">
                  {% block page_form %}{% endblock %}
                </div>
              </form>
            </div>

          </section>
        </div>
      </div>
    </div>

    {% endblock %}
  </div>
</body>

</html>